@define-color text            @foreground;
@define-color background-alt  @color1;
@define-color selected        @color3;
@define-color hover           @color5;
@define-color urgent          @color2;

* {
  color: @text;

  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, .75);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.45), inset 0 0 0 1px alpha(@selected, .3);
  border: 1px solid alpha(@selected, .4);
  border-radius: 16px;
  margin: 10px 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 8px;
  border-radius: 16px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 10px 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 10px;
  background-color: alpha(@background-alt, .6);
  margin: 6px;
  padding: 6px 14px;
  border: 1px solid alpha(@selected, .2);
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: alpha(@hover, .5);
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
  color: @text;
}

.body {
  font-size: 0.85rem;
  color: alpha(@text, .85);
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: alpha(@urgent, .8);
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @urgent;
  color: @background;
}

.notification.critical progress {
  background-color: @urgent;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}

.notification progress {
  min-height: 8px;
  border-radius: 12.6px;
}

.notification progressbar,
.notification trough {
  min-height: 8px;
  min-width: 150px;
  border-radius: 12.6px;
}
