#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp Web ( brave )
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app=https://web.whatsapp.com --app-id=whatsapp
Icon=brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default
StartupWMClass=whatsapp
