@import 'colors.css';

* {
  color: @text;
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@base, 0.85);
  backdrop-filter: blur(20px);
  -gtk-icon-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.5);
  border: 1px solid alpha(@surface1, 0.8);
  border-radius: 16px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: alpha(@surface0, 0.9);
  margin: 6px;
  border: 1px solid transparent;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: alpha(@surface1, 0.95);
  border: 1px solid @lavender;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @lavender;
  color: @base;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
  color: @subtext1;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @red;
  color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @red;
  color: @base;
}

.notification.critical progress {
  background-color: @red;
}

.notification.low progress,
.notification.normal progress {
  background-color: @lavender;
}
